1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [1]:
for i in range(1, 51):
    print(f"Pangkat dua dari {i} adalah {i**2}")

Pangkat dua dari 1 adalah 1
Pangkat dua dari 2 adalah 4
Pangkat dua dari 3 adalah 9
Pangkat dua dari 4 adalah 16
Pangkat dua dari 5 adalah 25
Pangkat dua dari 6 adalah 36
Pangkat dua dari 7 adalah 49
Pangkat dua dari 8 adalah 64
Pangkat dua dari 9 adalah 81
Pangkat dua dari 10 adalah 100
Pangkat dua dari 11 adalah 121
Pangkat dua dari 12 adalah 144
Pangkat dua dari 13 adalah 169
Pangkat dua dari 14 adalah 196
Pangkat dua dari 15 adalah 225
Pangkat dua dari 16 adalah 256
Pangkat dua dari 17 adalah 289
Pangkat dua dari 18 adalah 324
Pangkat dua dari 19 adalah 361
Pangkat dua dari 20 adalah 400
Pangkat dua dari 21 adalah 441
Pangkat dua dari 22 adalah 484
Pangkat dua dari 23 adalah 529
Pangkat dua dari 24 adalah 576
Pangkat dua dari 25 adalah 625
Pangkat dua dari 26 adalah 676
Pangkat dua dari 27 adalah 729
Pangkat dua dari 28 adalah 784
Pangkat dua dari 29 adalah 841
Pangkat dua dari 30 adalah 900
Pangkat dua dari 31 adalah 961
Pangkat dua dari 32 adalah 1024
Pangkat dua dari 33 adalah 1089
Pangkat dua dari 34 adalah 1156
Pangkat dua dari 35 adalah 1225
Pangkat dua dari 36 adalah 1296
Pangkat dua dari 37 adalah 1369
Pangkat dua dari 38 adalah 1444
Pangkat dua dari 39 adalah 1521
Pangkat dua dari 40 adalah 1600
Pangkat dua dari 41 adalah 1681
Pangkat dua dari 42 adalah 1764
Pangkat dua dari 43 adalah 1849
Pangkat dua dari 44 adalah 1936
Pangkat dua dari 45 adalah 2025
Pangkat dua dari 46 adalah 2116
Pangkat dua dari 47 adalah 2209
Pangkat dua dari 48 adalah 2304
Pangkat dua dari 49 adalah 2401
Pangkat dua dari 50 adalah 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [32]:

data = ("Yusuf", "Fahriza", "Dafa Hakim", "Wadini", "Ilham Ryan", "Daffaul", "Rafli", "Rafif", "Natan", "Arsya", "Rafi", "Kumara", "Naufal", "Abid", "Hanif")
nama = str(input("Masukkan nama :"))
nama.capitalize()

for nama in data:
    if nama == nama:
        print("Pencarian Anda sudah berakhir")
        break
    else: 
        print("Nama yang Anda cari tidak ada")

Pencarian Anda sudah berakhir

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [35]:
import random
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']
x = 0
for bln in bulan:
    if bln in ['april', 'mei']:
        print(f'di bulan {bln} robert mau istirahat')
        continue
    print(f'Robert akan konser di bulan {bln} di kota', kota[x])
    x+=1
    if x == 8:
        x = random.randrange(0,8)

Robert akan konser di bulan januari di kota jakarta
Robert akan konser di bulan februari di kota kuala lumpur
Robert akan konser di bulan maret di kota bangkok
di bulan april robert mau istirahat
di bulan mei robert mau istirahat
Robert akan konser di bulan juni di kota seoul
Robert akan konser di bulan juli di kota canada
Robert akan konser di bulan agustus di kota london
Robert akan konser di bulan september di kota dubai
Robert akan konser di bulan oktober di kota barcelona
Robert akan konser di bulan november di kota barcelona
Robert akan konser di bulan desember di kota dubai